.forgot-pass-main-cntnr{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-width: 500px;
    min-width: 380px;
    border-radius: 10px;
    margin: 220px auto 0 auto;
    padding: 35px 25px 20px 25px;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.forgot-pass-header{
    font-size: 24px;
}
.forgot-pass-desc{
    color: rgba(0, 0, 0, 0.7);
}
.forgot-pass-form-cntnr{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    margin-top: 25px;
}

.forgot-pass-submit-btn{
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    background-color: var(--primary_color);
    color: white;
    font-size: 18px;
    padding: 7px 0;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.forgot-go-back-btn{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 600;
    /* margin: 15px auto 0 10px; */
    margin-top: 15px;
    cursor: pointer;
    transition: color 0.5s ease;
}
.forgot-go-back-btn:hover{
    color: var(--primary_color);
}

@media screen and (max-width:540px) {
    .forgot-pass-main-cntnr{
        /* margin: 250px 20px 0 20px; */
        width: 380px;
    }
}