
.home-main-container{
    display: flex;
    flex-direction: column;
}
.landing-container {
    /* margin-top: 150px; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 80%;
    height: 100vh;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.text-section {
    flex: 1;
    padding-right: 20px;
}

.text-section h1 {
    font-size: 48px;
    line-height: 1.2;
    color: #333;
}

.text-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #777;
    margin: 20px 0;
}

.text-section .highlight {
    color: #0e72ed;
    font-weight: bold;
}

.buttons {
    margin-top: 20px;
}

.btn-primary, .btn-secondary {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.btn-primary {
    background-color: #0e72ed;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: transparent;
    color: #0e72ed;
    border: 2px solid #0e72ed;
}

.btn-secondary:hover {
    background-color: #e7f0ff;
}

.image-section {
    flex: 1;
}
