:root{
    --primary_color:#0e72ed;
}
*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-tap-highlight-color: transparent !important;
}
.home-main-container{
    width: 100%;
}
.Toastify__toast--success .Toastify__progress-bar-theme--light{
    background-color: var(--primary_color) !important;
}
.Toastify__toast{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.Toastify__toast--success .Toastify__toast-icon{
    display: none;
  }
  
  .Toastify__toast--error .Toastify__progress-bar{
    background-color: red !important; /* Red for error */
  }